
/* GENERAL ========================================= */

/* Zero default margin & padding around common elements */
blockquote, body, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, li, ol, p, ul
{
	margin: 0;
	border: 0 none #FFFFFF;
	padding: 0;
}

html
{
	height: 100%;
}

body
{
	width: 100%;
	height: 100%;
	background-color: #000000;
	color: #ffffff;
	line-height: 1.4;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 85%;
	text-align: center;
}

a
{
	color: #4c7f00;
	text-decoration: underline;
}

a:visited
{
	color: #934fad;
}

a:hover
{
	text-decoration: none;
}

img
{
	border: 0 none transparent;
}

input, select, table, textarea
{
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
}




/* CONTENT ========================================= */

h1 {
	position: absolute;
	left: 0;
	top: 25px;
	z-index: -1;
	width: 100%;
	font-size: 180%;
	text-align: center;
	font-weight: normal;
}

canvas
{
	position: absolute;
	left: 0;
	top: 0;
}

#debug
{
	position: absolute;
	left: 50px;
	top: 50px;
	z-index: 100;
}

#refresh
{
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 10;
	width: 60px;
	height: 60px;
	background-image: url(../images/refresh.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: -9999px;
}

#submit
{
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 10;
	width: 60px;
	height: 60px;
	background-image: url(../images/submit.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: -9999px;
}

#saved
{
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 50;
	width: 10em;
	height: 2em;
	margin: -1em 0 0 -5em;
	font-size: 36px;
	line-height: 2em;
	text-align: center;
}